<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>作業日報サンプル</title>
    <meta name="description" content="Gantt chart component for AngularJS">
    <meta name="viewport" content="width=device-width">

    <link rel="canonical" href="https://www.angular-gantt.com/">
    <link rel="shortcut icon" href="http://www.angular-gantt.com/img/favicon.ico">

    <meta property="og:title" content="Angular Gantt (Demo)" />
    <meta property="og:description" content="Gantt chart component for AngularJS" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.angular-gantt.com/demo/" />
    <meta property="og:image" content="https://www.angular-gantt.com/img/angular-gantt.png" />
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/context.css">

</head>
<body ng-app="angularGanttDemoApp" ng-strict-di>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div ng-controller="MainCtrl">

    <div class="container-content" ng-show="false">
        <div class="container-fluid">
            <div class="row top-buffer">
                <div class="col-md-12">
                    <i class="fa fa-cog fa-spin"></i> Loading angular-gantt demo ...
                </div>
            </div>
        </div>
    </div>

    <div class="container-content" ng-cloak="true">
        <div class="container-fluid">
            <div class="row top-buffer">
                <div class="col-md-12">
                    <div class="panel-group" bs-collapse>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <div class="ctxmboxContainer">
                                        <!--<div class="ctxmbox"><a href="" bs-collapse-toggle>作業日報</a></div>-->
                                        <div class="ctxmbox">作業日報</div>
                                        <div class="ctxmbox">&nbsp;</div>
                                        <div class="ctxmbox">拠点：</div>
                                        <div class="ctxmbox">石狩ＫＣ（828）</div>
                                        <div class="ctxmbox">&nbsp;</div>
                                        <div class="ctxmbox">社員：</div>
                                        <div class="ctxmbox">伊豆　剛（ZZ3467）</div>
                                        <div class="ctxmbox">&nbsp;</div>
                                        <div class="ctxmbox">作業日：</div>
                                        <div class="ctxmbox">2016年02月01日</div>
                                    </div>
                                </h4>
                            </div>
                            <div class="panel-collapse" bs-collapse-target>
                                <div class="panel-body">
                                    <div gantt
                                         data="data"
                                         timespans="timespans"
                                         show-side="options.labelsEnabled"
                                         daily="options.daily"
                                         filter-task="{'name': options.filterTask}"
                                         filter-row="{'name': options.filterRow}"
                                         sort-mode="options.sortMode"
                                         view-scale="options.scale"
                                         column-width="getColumnWidth(options.width, options.scale, options.zoom)"
                                         auto-expand="options.autoExpand"
                                         task-out-of-range="options.taskOutOfRange"
                                         from-date = "options.fromDate"
                                         to-date = "options.toDate"
                                         allow-side-resizing = "options.allowSideResizing"
                                         task-content = "options.taskContentEnabled ? options.taskContent : undefined"
                                         row-content = "options.rowContentEnabled ? options.rowContent : undefined"
                                         current-date="options.currentDate"
                                         current-date-value="options.currentDateValue"
                                         headers="options.width && options.shortHeaders || options.longHeaders"
                                         headers-formats="options.headersFormats"
                                         max-height="options.maxHeight && 600 || 0"
                                         time-frames="options.timeFrames"
                                         date-frames="options.dateFrames"
                                         time-frames-working-mode="options.timeFramesWorkingMode"
                                         time-frames-non-working-mode="options.timeFramesNonWorkingMode"
                                         time-frames-magnet="options.timeFramesMagnet"
                                         api="options.api"
                                         column-magnet="options.columnMagnet">
                                        <gantt-tree enabled="options.sideMode === 'Tree' || options.sideMode === 'TreeTable'"
                                                    header-content="options.treeHeaderContent"
                                                    header="'作業項目'"
                                                    keep-ancestor-on-filter-row="true">
                                        </gantt-tree>
                                        <gantt-table enabled="options.sideMode === 'Table' || options.sideMode === 'TreeTable'"
                                                     columns="options.sideMode === 'TreeTable' ? options.treeTableColumns : options.columns"
                                                     headers="options.columnsHeaders"
                                                     classes="options.columnsClasses"
                                                     formatters="options.columnsFormatters"
                                                     contents="options.columnsContents"
                                                     header-contents="options.columnsHeaderContents">
                                        </gantt-table>
                                        <gantt-groups enabled="options.groupDisplayMode === 'group' || options.groupDisplayMode === 'overview' || options.groupDisplayMode === 'promote'" display="options.groupDisplayMode"></gantt-groups>
                                        <gantt-tooltips date-format="options.toolTipDateFormat"></gantt-tooltips>
                                        <gantt-bounds></gantt-bounds>
                                        <gantt-progress></gantt-progress>
                                        <gantt-sortable></gantt-sortable>
                                        <gantt-movable enabled="!options.readOnly"></gantt-movable>
                                        <gantt-draw-task
                                            enabled="options.canDraw"
                                            move-threshold="2"
                                            task-factory="options.drawTaskFactory">
                                        </gantt-draw-task>
                                        <gantt-overlap></gantt-overlap>
                                        <gantt-resize-sensor></gantt-resize-sensor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-cloak="true" width="100%">
        <div id='contextmenu-node' class="contextmenu-node" ng-mouseleave="closeContextMenu($event)" ng-show="showCM">
          <div class="ctxmboxContainer ctxborder">
            <div class="ctxmbox ctxmboxadjust">開始時刻</div>
            <div class="ctxmbox">&nbsp;</div>
            <div class="ctxmbox">
                <input type="text" size="8" ng-model="sTime" name="sTime" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">
            </div>
          </div>

          <div class="ctxmboxContainer ctxborder">
            <div class="ctxmbox ctxmboxadjust">終了時刻</div>
            <div class="ctxmbox">&nbsp;</div>
            <div class="ctxmbox">
                <input type="text" size="8" ng-model="eTime" name="eTime" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">
            </div>
          </div>
          <div>&nbsp;</div>
          <div class='contextmenu-item ctxborder' ng-click='clickedCTXTDelete($event)'>削除</div>
        </div>
    </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID
 <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-XXXXX-X');
   ga('send', 'pageview');
</script>
-->

<!--[if lt IE 9]>
<script src="scripts/oldieshim.js"></script>
<![endif]-->

<script src="scripts/vendor.js"></script>

<script src="scripts/scripts2.js"></script>
</body>
</html>
